<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
        .head{
            text-align: center;
            color: steelblue;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 24px;
        }
        .container {
            width: 600px;
            margin: 34px auto -34px;
            border: 1px solid rgb(235, 238, 241);
            padding: 10px;
            box-shadow: 5px 5px lightblue;
        }

        .title h1 {
            text-align: center;
            font-weight: bold;
            font-size: 43px;
            color: steelblue;
            font-family: Arial, Helvetica, sans-serif;
            padding: 16px 0 0 0;
           
        }      

        .first label,
        .last label,
        .email label,
        .pass label,
        .cpass label {        
            font-size: 22px;
        }

        .first input,
        .last input,
        .email input,
        .pass input,
        .cpass input {
            width: 90%;
            height: 33px;
            margin: 11px 0 3px 0;           
            padding: 0 0 0 10px;
            background-color: rgb(221, 233, 247);
            border: none;
            padding: 10px;
        }

        .submit {
            margin: 0 0 0 19px;
        }

        .submit input[type="submit"] {
            font-weight: bold;
            margin: 0 0 20px 0;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 5px;
            font-size: 22px;
           margin-top: 10px;           
            text-align: center;
            padding: 10px;
            
        }

        .submit input[type="submit"]:hover {
            background-color: #D8D8D8;
        }

        form {
            padding-left: 35px;
            padding-top: 20px;
        }
        p{
            /* text-align: center; */
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            color: red;
        }
    </style>
</head>

<body>
    <% var result=result || null; %>
    <div class="title">
        <h1>Login</h1>
    </div>
   
    <div class="content">
        <div class="container">
            <form action="/home" method="post" id="form">
                <div class="first">
                    <label for="userEmail">User Email:</label>
                    <div class="clear"></div>
                    <input type="text" name="user_email_login" id="user_name" placeholder="Enter first name" required>
                </div>
               
                
                <div class="pass">
                    <label for="pass">Password:</label>
                    <div class="clear"></div>
                    <input type="password" name="pswrd_login" id="pswrd" placeholder="Enter password" required>
                </div>
                <p class="link"><a href="/forgotpswrd">Forgot Password?</a></p>
                <div class="submit">
                    <input type="submit" value="Log In">
                </div>
            </form>
            <p class="link" style="padding-left: 30px;"><a href="/registration">Create an account?</a></p>
        </div>
       
    </div>
    <script>
        const form = document.getElementById('form');
        form.addEventListener("submit",async (event) =>{
            const formData = new formData(form);
            const url = form.action;
            try{
                const response = await fetch(url,{
                    method:'post',
                    headers : {
                        "Content-Type" : "application/json",
                        "Accept" : "application/json"
                    },
                    body : JSON.stringify(formData)
                });
                const result = JSON.response;
                console.log(result);

            }
            catch(error){
                console.log(error);
            }
        });
    </script>
</body>

</html>