<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
       
       .container {
            width: 600px;
            margin: 34px auto -34px;
            border: 1px solid rgb(235, 238, 241);
            padding: 10px;
            box-shadow: 5px 5px lightblue;
        }

        .title h1 {
            text-align: center;
            font-weight: bold;
            font-size: 43px;
            color: steelblue;
            font-family: Arial, Helvetica, sans-serif;
            padding: 16px 0 0 0;
            /* color: white; */
        }      
        p{
            font-size: 22px;
            color: steelblue;
        }
        
    </style>
</head>

<body>
    
    <div class="title">
        <h1>Verified!</h1>
    </div>
    <div class="container">
        <h2>User is active</h2>
        <p><a href="/login">Do you wants to Login?</a></p>
    </div>
</body>

</html>